/project/contoh/
/project/kode/hand_on_practice3/video_output/cctv_raw_20250317_111248.ts
/project/kode/mini_project5/charts.csv
/project/kode/mini_project5/spotify_data.csv
/project/kode/hand_on_practice3/movies.sqlite
/project/kode/mini_project5/spotify_data.csv
